<article class="comment small-pad bord-box">
  <% if comment.user == nil %>
    <h3>Anonymous: <%= comment.content %></h3>
  <% else %>
    <h3><%= link_to comment.user.name + ":", user_path(comment.user), class: "user_link" %> <%= comment.content %>
  <% end %>
  <span class="comment_span"><% if current_user != nil && comment.user != nil && current_user.id == comment.user.id %>
    <%= link_to "Delete", beat_comment_path(beat, comment), method: :delete, class: 'small-link' %>
  <% end %></span></h3>

  <%= render partial: 'comments/votes', locals: {comment: comment} %>

</article>