<article class="beat_content small-pad bord-box small-radius clearfix">
  <h2><%= beat.content %></h2>
  <button class="comments_button">Comments<br><%= beat.comments.count %></button>
  <p class="post_by">Posted by: <%= link_to beat.user.name, user_path(beat.user), class: "user_link" %></p>
  <p class="created_at">Created: <%= beat.created_at.strftime("%d %b, %Y") %></p>
  <% if current_user != nil && current_user.id == beat.user.id %>
    <%= link_to "Edit", edit_beat_path(beat), class: 'small-link' %>
    <%= link_to "Delete", beat_path(beat), method: :delete, class: 'small-link' %>
  <% end %>
</article>