<div class="comments_container">
  <%= form_for [beat, Comment.new], html: {class: "comment_form"} do |f| %>
    <%= f.text_field :content, placeholder: "Enter Comment", class: "text_field", required: true %>
  <% end %>
  <% beat.comments.each do |comment| %>
  <article class="comment small-pad bord-box">
    <% if comment.user == nil %>
      <h3>Anonymous: <%= comment.content %></h3>
    <% else %>
      <h3><%= link_to comment.user.name + ":", user_path(comment.user), class: "user_link" %> <%= comment.content %></h3>
    <% end %>
    <% if current_user != nil && comment.user != nil && current_user.id == comment.user.id %>
      <%= link_to "Delete", beat_comment_path(beat, comment), method: :delete, class: 'small-link' %>
    <% end %>
    <p class="vote_count">Votes: <%= comment.votes.count %></p>
    <% if current_user != nil && !current_user.voted?(comment) %>
      <%= link_to "Upvote", "/comments/#{comment.id}/upvote", class: 'small-link upvote' %>
    <% elsif current_user != nil && current_user.voted?(comment) %>
      <%= link_to "Downvote", "/votes/#{current_user.get_vote(comment).id}", class: 'small-link downvote' %>
    <% else %>
      <p>You must be signed in to vote</p>
    <% end %>
  </article>
  <% end %>
</div>