<div class="beats_container">
  <div class="filter_bar">
    <button class="beat_button">Create New BadBeat</button>
  </div>
  <%= form_for Beat.new, html: {class: "new_beat_form"} do |f| %>
    <%= f.label "Enter your BadBeat!", class: "form_title" %>
    <%= f.text_area :content, placeholder: "Maximum 300 Characters", class: "text_area", required: true %>
    <%= f.submit "Submit BadBeat", class: "submit_button" %>
  <% end %>

  <% @beats.each do |beat| %>
  <section class="beat small-radius">
    <%= render partial: 'partials/beats', locals: {beat: beat} %>
    <%= render partial: 'partials/comments', locals: {beat: beat} %>
  </section>
  <% end %>
</div>