<div class="beats_container">
  <div class="filter_bar">
    <button class="beat_button">Create New BadBeat</button>
  </div>
  <%= form_for Beat.new, html: {class: "new_beat_form"} do |f| %>
    <%= f.label "Enter your BadBeat!", class: "form_title" %>
    <%= f.text_area :content, placeholder: "Maximum 300 Characters", class: "text_area", required: true %>
    <%= f.submit "Submit BadBeat", class: "submit_button" %>
  <% end %>


  <% @beats.each do |beat| %>
  <section class="beat small-radius">
    <article class="beat_content small-pad bord-box small-radius clearfix">
      <h2><%= beat.content %></h2>
      <button class="comments_button">Comments<br><%= beat.comments.count %></button>
      <p class="post_by">Posted by: <%= link_to beat.user.name, user_path(beat.user), class: "user_link" %></p>
      <p class="created_at">Created: <%= beat.created_at.strftime("%d %b, %Y") %></p>
      <% if current_user != nil && current_user.id == beat.user.id %>
        <%= link_to "Edit", edit_beat_path(beat), class: 'small-link' %>
        <%= link_to "Delete", beat_path(beat), method: :delete, class: 'small-link' %>
      <% end %>
    </article>
    <div class="comments_container">
      <%= form_for [beat, Comment.new], html: {class: "comment_form"} do |f| %>
        <%= f.text_field :content, placeholder: "Enter Comment", class: "text_field", required: true %>
      <% end %>
      <% beat.comments.each do |comment| %>
      <article class="comment small-pad bord-box">
        <h3><%= link_to comment.user.name + ":", user_path(comment.user), class: "user_link" %> <%= comment.content %></h3>
        <% if current_user != nil && current_user.id == comment.user.id %>
          <%= link_to "Delete", beat_comment_path(beat, comment), method: :delete, class: 'small-link' %>
        <% end %>
      </article>
      <% end %>
    </div>
  </section>
  <% end %>
</div>