<!DOCTYPE html>
<html>
<head>
  <title>FantasyBadBeats</title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>
<body>

  <header class="app-header clearfix bord-box">
    <h2 class="header-title"><%= link_to "Fantasy Bad Beats", root_path, class: "title-link" %></h2>
    <nav class="nav-container">
      <% if current_user %>
        <a href="<%= signout_url%>"><button class="nav-buttons signout">Sign Out</button></a>
      <% else %>
        <button class="nav-buttons signup">Sign Up</button>
        <button class="nav-buttons login">Login</button>
      <% end %>
    </nav>
  </header>

<%= yield %>

  <div class="background"></div>
  <%= render partial: 'layouts/login' %>
  <%= render partial: 'layouts/signup' %>
</body>
</html>
